@import './common';
@import './example';

.search-form {
  background-color: rgb(84, 86, 202);
  padding: 10px;
  text-align: center;
}

.search-form > input {
  border-radius: 4px;
  outline: none;
  font-size: 10px;
  width: 200px;
  height: 30px;
  border: 0px;
  position: absolute;
  padding-left: 10px;
}

.search-form > button {
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: 0px;
}

.svg {
  width: 16px;
  height: 12px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 200px;
  display: flex;
}
